$list-grid__radius: 5px;
$border: #e8e8e8;
$border-darker: #c5c5c5;
$hover: #ccc;
$rating: #00adba;
$selected: #00adba;

$expandable_list--background: #fcfcfc;
$expandable-list--text: #999;
$expandable-list--background--after: #E2E2E2;